body {
    background-color: black;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size:16pt;
    line-height:1.5;
    max-width: 80ch;
    padding:0px 50px 0px 50px;
    color:red;
}

.mobile-view {
    display: none;
}

@media screen and (max-width:1024px) {
    header {
    background-color: #d4a373;
    }
}

@media screen and (max-width:768px) {
    header {
    background-color: #faedcd;
    }
}

@media screen and (max-width:480px) {
    header {
    background-color: #e9edc9;
    }

    .mobile-view {
        display: block;
    }

    p {
        color:blue;
    }
}

